<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Registration</title>
</head>
<body>
    <form action="invoice_view_html" method="post">
        <input type="button" name="html_page" placeholder="HTML PAGE"/> HTML<br/>       
        <input type="Submit"/>
    </form>

    <form action="invoice_view_pdf" method="post">
        <input type="button" name="pdf_page" placeholder="PDF PAGE"/> PDF<br/>       
        <input type="Submit"/>
    </form>
    <form action="invoice_view_csv" method="post">
        <input type="button" name="csv_page" placeholder="CSV PAGE"/> CSV<br/>       
        <input type="Submit"/>
    </form>
</body>
</html>
