<!DOCTYPE html>
<html>
  <head>    
      <title>Django + Python Template to HTML, PDF and CSV</title>    
  </head>
<body>      
    <div>
        <div>
          <div>         
              <ul>              
                <li><a href="{% url 'htmlpage' %}">HTML</a></li>
                <li><a href="{% url 'pdfpage' %}">PDF</a></li>
                <li><a href="{% url 'csvpage' %}">CSV</a></li>
              </ul>           
          </div>         
        </div>
      </div>
</body>
</html>
