<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>HTML</title>
    </head>
    <body>
        <div class='wrapper'>
            <div class='header'>
                <p class='title'>Invoice # {{ invoice_number }}</p>
            </div>
        <div>
        <div class='details'>
            Bill to: {{ bill_to }}<br/>
            Amount:  {{ amount }}<br/>
            Date:  {{ date }}
            <hr class='hrItem' />
        </div>
        <li><a href="{% url 'index' %}">Home</a></li>
    </div>
    </body>
</html>
